<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="icon" href="../images/logoBlanco.png" type="image/png">
    <title>Credencial Universitaria</title>
</head>

<body class="vh-100 d-flex justify-content-center align-items-center bg-light p-1 row"
    style="background: url(../images/fondo.jpg) center/cover no-repeat fixed; margin: 0;">

    <div class="col-lg-6 col-md-12 mx-auto container-lg row h-lg-50 h-md-auto p-3 rounded-5"
        style="background: linear-gradient(160deg, rgba(255,255,255,1) 0%, rgba(231,49,42,1) 20%, rgba(29,60,136,1) 70%);">

        <h2 class="text-center col-12 mx-auto text-light fs-1 text-capitalize">Credencial Universitaria</h2>

        <div class="col-lg-4 col-md-12 d-flex justify-content-center align-items-center px-4">
            <img src="" alt="Foto del Alumno" class="rounded-circle mb-lg-3" style="width: 170px; height: 220px;"
                id="credencialFoto">
        </div>

        <div
            class="col-lg-8 col-md-12 mx-auto d-flex flex-column justify-content-center align-items-start p-lg-3 p-md-2">
            <img src="../images/logoBlanco.png" alt="Logo Utc Ecatepec" class="mx-auto" style="width: 100px;">
            <p class="text-center mx-auto text-light my-1 fs-4 text-uppercase">Nombre del Alumno: <span
                    id="nombre"></span></p>
            <p class="text-center mx-auto text-light my-1 fs-4 text-uppercase">Matricula: <span id="matricula"></span>
            </p>
            <p class="text-center mx-auto text-light my-1 fs-4 text-uppercase">Carrera: <span id="carrera"></span></p>
            <p class="text-center mx-auto text-light my-1 fs-4 text-uppercase">Cuatrimestre: <span
                    id="cuatrimestre"></span></p>
            <p class="text-center mx-auto text-light my-1 fs-4 text-uppercase">Bloque-Sep: <span id="bloquesep"></span>
            </p>
        </div>
    </div>

    <div class="col-lg-5 col-md-12 mx-auto container-lg row h-lg-50 h-md-auto p-3 my-3 rounded-5"
        style="background: linear-gradient(200deg, rgba(255,255,255,1) 0%, rgba(231,49,42,1) 20%, rgba(29,60,136,1) 70%);">
        <canvas id="qrCanvas" class="mx-auto" style="width:200px; height:200px;"></canvas>
        <p class="text-center mx-auto text-light my-1 fs-4 text-uppercase">Vigencia: <span id="vigencia"></span></p>
        <p class="text-center mx-auto text-light my-1 fs-4 text-uppercase">Plantel: Ecatepec</p>
        <p class="text-center mx-auto text-light my-1 fs-4 text-uppercase">Direccion:<br>Via Morelos 230, Col. Santa
            María Tulpetlac, Ecatepec de Morelos, Estado de México. Frente a la Clínica número 68 IMSS.</p>
    </div>

</body>
<script src="../js/plugins/bootstrap.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>
<script type="module" src="../js/credencialEscolar.js"></script>
</html>